<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Memo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @{
        var pictureName = ViewBag.pictureName;

     }

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar">
                <ul class="nav d-flex">
                    <li>@Html.ActionLink("Accueil-", "Index", "Home")</li>
                    <li>@Html.ActionLink("Formulaire", "Form", "Home")</li>
                    <li>@Html.ActionLink("To Test", "Details", "Testing")</li>
                    <li>@Html.ActionLink("To connect", "Connect", "Testing")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Memo</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")@* Validation *@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
