@model Memo.Models.Identify

@{
    ViewBag.Title = "Connect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Connect</h2>
@using (Html.BeginForm(FormMethod.Post))
{

    @Html.Label("Login") @Html.TextBox("loginValue") @Html.Label("Pass") @Html.TextBox("passValue")

    @Html.ValidationMessage("loginValue", new { @class = "text-danger" }) @Html.ValidationMessage("passValue", new { @class = "text-danger" }) @* Erreur de saisie *@

    <input type="submit" name="userLogin" value="connect" />
}