@model Memo.Models.Identify

@{
    ViewBag.Title = "Connect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Connect</h2>
<div class="container-fluid border border-dark d-flex text-center">

    <div class="col-6 border border-warning text-center">
        @using (Html.BeginForm(FormMethod.Post))
        {

            @Html.Label("Login" ,new { @class = "d-flex" }) @Html.TextBox("loginValue",new { @class = "d-flex mx" }) @Html.Label("Pass", new { @class = "d-flex" }) @Html.TextBox("passValue", new { @class = "d-flex" })

            @Html.ValidationMessage("loginValue", new { @class = "text-danger" }) @Html.ValidationMessage("passValue", new { @class = "text-danger" }) @* Erreur de saisie *@

            <input type="submit" name="userLogin" value="connect" class="d-flex" />
        }
    </div>

    <div class="col-6 border border-danger">
        hello !
    </div>
</div>
