@model Memo.Models.Picture
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<label>pictureId</label>
<p>@Html.Display("pictureId")</p>
<label>pictureTitle</label>
<p>@Html.Display("pictureTitle")</p>
<label>pictureDescritption</label>
<p>@Html.Display("pictureDescription")</p>
@*<label>picture</label>
<img src=@Model.pictureLocationUrl />*@

@*@using (Html.BeginForm("FileUpload", "Home", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
{
    <label for="pictureToUpload">Upload Image:</label>
    <input type="file" name="pictureToUpload" id="file" style="width: 100%;" />
    <input type="submit" value="Upload" class="submit" />
}

<hr>

<button type="button" id="disp" class="btn btn-info" value="Afficher Photo">Afficher</button>

<hr>*@

@*<label>pictureId</label>
<p id="ID">@pictureId</p>
<label>pictureTitle</label>
<p id="Title"></p>
<label>pictureDescritption</label>
<p id="Desc"></p>
<label>picture</label>
<img id="Pic" src="" />*@



@*<img src="/houses.jpg">

    <img src="/road.jpg">

    <img src="/oldtimer.jpg">

    <img src="/landscape.jpg">

    <img src="/empire.jpg">

    <img src="/lac.jpg">*@
@section Scripts
{

    <script type="text/javascript">

        // Display picture data in p when button "disp" is clicked :
        $("#disp").click(function () {
        loadData();
    });

        function loadData() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("ShowPicture")',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (pict) {
                    $("#ID").html(pict.pictureId);
                    $("#Title").html(pict.pictureTitle);
                    $("#Desc").html(pict.pictureDescritption);
                    $("#Pic").attr("src", pict.pictureLocationUrl);
                },
                error: function (error) {
                    alert(error.responseText);
                }
            });
            return false;
        }
    </script>
}  