@model Memo.Models.Identify
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var msg = @ViewBag.Error;

}

@using (Html.BeginForm(FormMethod.Post))
{
    <p>
        Mini calculator : @Html.Label("1st nb = ") @Html.TextBox("x") @Html.Label("2nd nb = ") @Html.TextBox("y")
        <input type="submit" name="op" value="+" /> @* + Additionner *@
        <input type="submit" name="op" value="-" /> @* - Soustraire *@
        <input type="submit" name="op" value="*" /> @* * Multiplier *@
        <input type="submit" name="op" value="/" /> @* / Diviser *@
    </p>
    <p>
        @Html.ValidationMessage("x", new { @class = "text-danger" }) @Html.ValidationMessage("y", new { @class = "text-danger" }) @* Erreur de saisie *@
    </p>
}
<p>Résultat : @ViewBag.result</p>
@*<div style="background-image: url('../road.jpg'); background-repeat: no-repeat; width:321px; height:480px" id="pic" oncontextmenu="return false;">test</div>*@
<input type="button" id="more" value="+" hidden>


<h2>Connect</h2>
@using (Html.BeginForm(FormMethod.Post))
{

    @Html.Label("Login") @Html.TextBox("loginValue") @Html.Label("Pass") @Html.TextBox("passValue")
    <input type="submit" name="userLogin" value="userLogin" />
}



<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#pic").hover(function () {
            $("#more").show();
        },
            function () {
                $("#more").hide();
            });
    });
</script>