@model ModellsUp.Models.pictureExifMetaData

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("FileUpload", "Home", FormMethod.Post,
                                new { enctype = "multipart/form-data" }))
{
    <label for="pictureToUpload">Upload Image:</label>
    <input type="file" name="pictureToUpload" id="file" style="width: 100%;" />
    <input type="submit" value="Upload" class="submit" />
}

<link href="~/Content/Site.css" rel="stylesheet" />

@if (Model != null)
{
    @*Display picture exifs :*@
    <div class="border border-primary mx-auto text-left exifsData" id="exifsInfos">
        <ul>

            @*Display camera make :*@
            <li><span id="picCameraMake">@Model.pictureCameraMake</span></li>

            @*Display camera model :*@
            <li><span id="picCameraModel">@Model.pictureCameraModel</span></li>

            @*Display picture date time :*@
            <li><span id="pictureOriginalDateTime">@Model.pictureOriginalDateTime</span></li>

            @*Display picture exposure time :*@
            <li><span id="pictureExposureTime">@Model.pictureExposureTime</span></li>

            @*Display picture speed ratings :*@
            <li><span id="pictureIsoSpeedRatings">@Model.pictureIsoSpeedRatings</span></li>

            @*Display picture focal length :*@
            <li><span id="pictureFocalLength">@Model.pictureFocalLength</span></li>

            @*Display picture flash :*@
            <li><span id="pictureFlash">@Model.pictureFlash</span></li>

            @*Display picture height :*@
            <li><span id="pictureHeight">@Model.pictureHeight</span></li>

            @*Display picture width :*@
            <li><span id="pictureWidth">@Model.pictureWidth</span></li>
        </ul>
    </div>
}

<div class="test" >
    <img src="~/Content/Images/forest.jpg" style="height:300px;width:250px" />
</div> 